/* Update fancybox images paths
*/
div#fancy_loading div {
  background: transparent url(../../++resource++fancybox/fancy_progress.png) no-repeat;
}

div#fancy_loading_icon {
  background: url(../../++resource++fancybox/fancy_loading.gif) no-repeat;
}

div#fancy_close {
  background: url(../../++resource++fancybox/fancy_closebox.png) top left no-repeat;
}

span#fancy_left_ico {
  background: transparent url(../../++resource++fancybox/fancy_left.png) no-repeat;
}

span#fancy_right_ico {
  background: transparent url(../../++resource++fancybox/fancy_right.png) no-repeat;
}

div.fancy_bg_n {
  background: transparent url(../../++resource++fancybox/fancy_shadow_n.png) repeat-x;
}

div.fancy_bg_ne {
  background: transparent url(../../++resource++fancybox/fancy_shadow_ne.png) no-repeat;
}

div.fancy_bg_e {
  background: transparent url(../../++resource++fancybox/fancy_shadow_e.png) repeat-y;
}

div.fancy_bg_se {
  background: transparent url(../../++resource++fancybox/fancy_shadow_se.png) no-repeat;
}

div.fancy_bg_s {
  background: transparent url(../../++resource++fancybox/fancy_shadow_s.png) repeat-x;
}

div.fancy_bg_sw {
  background: transparent url(../../++resource++fancybox/fancy_shadow_sw.png) no-repeat;
}

div.fancy_bg_w {
  background: transparent url(../../++resource++fancybox/fancy_shadow_w.png) repeat-y;
}

div.fancy_bg_nw {
  background: transparent url(../../++resource++fancybox/fancy_shadow_nw.png) no-repeat;
}

td#fancy_title_left {
  background: transparent url(../../++resource++fancybox/fancy_title_left.png) repeat-x;
}

td#fancy_title_main {
  background: transparent url(../../++resource++fancybox/fancy_title_main.png) repeat-x;
}

td#fancy_title_right {
  background: transparent url(../../++resource++fancybox/fancy_title_right.png) repeat-x;
}

span#fancy_left_ico {
  left: 1em;
}

a#fancy_left:hover span {
  left: 0.5em;
}

span#fancy_right_ico {
  right: 1em;
}

a#fancy_right:hover span {
  right: 0.5em;
}

a#fancy_left, a#fancy_right {
  width: 5em;
}

#figures-fancyimage {
  margin: 0 5em;
}

/* Update jqzoom image paths
*/
.preload {
  background-image: url(../../++resource++jqzoom/zoomloader.gif);
  z-index: 1000;
}

dd {margin-left: 3em}

#map_canvas {
  float: left;
  margin-right: 10px;
  margin-top: 3px; }

.map-photo-album {
  width: 70%;
}

.figures-fancyimage-left {
  vertical-align: top;
}

.figures-fancyimage-left img {
  border: 1px dotted #000000;
}

.figures-fancyimage-right {
  padding-left: 1em;
  vertical-align: top;
}

.figures-empty {
  width: 195px;
  padding: 85px 0;
  border: 1px dotted #000000;
  text-align: center;
  cursor: crosshair;
}
